* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: black;
    font-size: 16px;
}

header {
    background-color: #333333;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-y: hidden;
}

input[type="search"] {
    width: 50%;
    max-width: 200px;
    margin: 8px 0;
    margin-right: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    float: right;
    outline: none;
}

input[type="search"]:focus {
    border: 1px solid #0a84ff;
}

.icon-apple-tv {
    width: 50px;
    padding-top: 10px;
}

.btn-header-begin-session {
    background-image:url(icons-user.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y:center;
    width: 120px;
    padding: 8px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0px;
    float: right;
    text-align: right;
}

.background-form {
    margin: 0;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(-15%,-50%);
    width: 60%;
    max-width: 500px;
    height: max-content;
    max-height: max-content;
    background-color: #333333;
    border: none;
    border-radius: 20px;
    padding: 0px 20px;
    z-index: 2;
}

@media screen and (max-height: 800px) {
    .background-form {
        top: 70px;
        left: 50%;
        width: 100%;
        min-width: 280px;
        max-width: 540px;
        transform: translate(-50%,50px);
    }
}

@media screen and (max-height: 800px) {
    input[type="search"] {
        position: absolute;
        top: 15px;
        left: 50%;
        width: 100%;
        min-width: 280px;
        max-width: 540px;
        transform: translate(-50%,50px);
    }
}

@media screen and (max-height: 800px) {
    form {
       
    }
}

@media screen and (max-height: 800px) {
    .icon-apple-tv {
    margin-left: 45%;
    transform: translate(45%, 0px);
      
    }
}

@media screen and (max-height: 800px) {
    .icon-apple-background {
        display: none;
    }
}
  
@media screen and (max-width: 540px) {
    .background-form {
        top: 25%;
        overflow-x: hidden;
        left: 0%;
        width: 100%;
        min-width: 280px;
        max-width: 540px;
        height: 100%;
        transform: translate(0%,25%);
        border-radius: 0px;
    }
}

.icon-apple-background {
    position: absolute;
    bottom: 50%;
    left: 20%;
    transform: translate(-20%, 50%);
    width: 60%;
    max-width: 200px;
}

.icon-apple-form {
    position: absolute;
    bottom: 50%;
    left: 20%;
    transform: translate(-20%, 50%);
    width: 60%;
    max-width: 200px;
    display: none;
}

form h1 {
    margin: 40px 0px;
    text-align: center;
    word-break: normal;
    color: #f5f5f7;
}

form input[type="text"],
form input[type="password"] {
    position:relative;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 0.5px solid black;
    outline: none;
    font-size:14px;
    margin: 0;
}

.input-usnm-pswd {
    border: none;
    border-radius: 10px;
}

form input[type="submit"] {
    background-image:url(icons-user.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y:center;
    width: 100%;
    padding: 10px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
}

.forgot-password {
    float: right;
    color: #0a84ff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.footer-rm-fp {
    color: white;
    font-size: 14px;
    margin: 20px 0px;
}

form h4 {
    color: white;
    margin: 30px 0px;
    text-align: center;
}

footer i {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 8px;
    text-align: center;
    font-size: 11px;
}